:root {
  --gray-text-color: #5a6169;
  --dark-text-color: #495057;
  --white-background-color: #e1e5eb;
  --gray-fill-icon: #cacedb;
  --blue-color: #007bff;
  --white-color: #fff;
  --blue-color-black: #3d5170;
  --blue-gray-color: #818ea3;
  --gray-background-color: #e9ecef;
  --green-color: #0ec261;
  --gray-color: #868e96;
  --red-color: #c4183c;
}

body {
  margin: 0;
  background: #f5f6f8;
  font-family: "Roboto-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Roboto-Thin";
  font-weight: 100;
  src: url("./fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  font-weight: 300;
  src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Helvetica-Regular";
  font-weight: 400;
  src: url("./fonts/Helvetica-Regular.otf");
}
